<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AC3</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <form action="gravar" method="POST">
        <p>
            <label>Nome: </label>
            <input type="text" name="nome"/>
        </p>
        <p>
            <label>Categoria: </label>
            <input type="text" name="categoria"/>
        </p>
        <p>
            <label>Preço: </label>
            <input type="number" name="preco"/>
        </p>
        <p>
            <input type="submit" value="enviar"/>
        </p>
    </form>

    <p><a href = "/lista">Clique aqui exibir a lista de cadastrados.</a></p>

</body>
</html>